{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="grid place-items-center justify-items-center auto mt-8">
  <h1 class="text-4xl font-bold bg-gradient-to-r bg-clip-text text-transparent from-ctp-pink to-ctp-sky">Howdy, ya'll!</h1>
  <p class="pt-6 font-bold text-ctp-subtext0">DevSecOps / Cloud Security Engineer who loves all the $THINGS.</p>
  <p class="pt-6 text-ctp-subtext1">$ <span class="auto-input"</p>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script>
  var typed = new Typed('.auto-input', {
    strings: ['echo $THINGS | display.sh'],
    typeSpeed: 150,
  });
  </script>
</div>
<div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-4 place-items-center">
  <div id="card"><p>Cloud Security</p></div>
  <div id="card"><p>Software Engineering</p></div>
  <div id="card"><p>Python</p></div>
  <div id="card"><p>IAM</p></div>
  <div id="card"><p>Backend Development</p></div>
  <div id="card"><p>DevSecOps</p></div>
  <div id="card"><p>CI / CD</p></div>
  <div id="card"><p>Automated Testing</p></div>
  <div id="card"><p>Kubernetes</p></div>
  <div id="card"><p>Split Key Boards</p></div>
  <div id="card"><p>Catppuccin Colorscheme</p></div>
  <div id="card"><p>NeoVim</p></div>
  <div id="card"><p>Ultra Running</p></div>
  <div id="card"><p>Yoga</p></div>
  <div id="card"><p>Securing Workloads</p></div>
  <div id="card"><p>Nifty Dev Workflows</p></div>
  <div id="card"><p>AWS</p></div>
  <div id="card"><p>Just In Time Access Tools</p></div>
  <div id="card"><p>Azure</p></div>
  <div id="card"><p>Python Dev Tools</p></div>
  <div id="card"><p>Astral</p></div>
  <div id="card"><p>Rare House Plants</p></div>
  <div id="card"><p>Border Collies</p></div>
  <div id="card"><p>National Parks</p></div>
  <div id="card"><p>Science Fiction</p></div>
  <div id="card"><p>Handstands</p></div>
  <div id="card"><p>Django</p></div>
  <div id="card"><p>FastAPI</p></div>
</div>
{% endblock %}
